---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/audio?api_key=API_KEY&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-hour:
      - '14991'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '23'
      ratelimit-remaining:
      - '491'
      ratelimit-limit:
      - '500'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-remaining-minute:
      - '491'
    body:
      encoding: UTF-8
      string: '[{"commentCount":0,"createdBy":"ahd","createdAt":"2024-09-13T15:23:37.396+0000","id":51234,"word":"ruby","duration":0.94,"audioType":"pronunciation","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition","attributionUrl":"https://www.wordnik.com/words/ruby","fileUrl":"https://audio.wordnik.com/54215.mp3?Expires=1726241617&Key-Pair-Id=APKAIHXX6B6C37D2VKVA&Signature=Nx2Q6Mtt63trgfA-CofPGj-iXCnSrchDcrd3zXjsxqcSdw~GJdtSxTRdbr5S8g6soME-Paelatpieb6dN1WQBOPqVJ9qcHBP7x-uDUbLFNwiycmcZ4iJKbOYHBuQZLAjuy~Er9aRDSfbx2FXQGMvjjLcVvhFbnPJXfDuwRBZV8whg3mli1zlNNcmy7Tfe55JyJMxl-DIPtWufMeHD4Bl7So7MRDFVWUBQv46pfGvrysR8ECpdclQHOrXSz4qOR0DjsFzdS~G9UsIad17LkbwNkScEzwCRqbD~hWsAcghJafWeJz2vXV2cZDDV~uMuNJyD10H7Fyczz0YNkT7-vRIwg__"},{"commentCount":0,"createdBy":"macmillan","createdAt":"2024-09-13T15:23:37.401+0000","id":236224,"word":"ruby","duration":0.91,"audioType":"pronunciation","attributionText":"pronunciation
        of ruby from Macmillan Dictionary -- free online dictionary and thesaurus","description":"See
        more at https://www.macmillandictionary.com/dictionary/american/ruby","attributionUrl":"https://www.macmillandictionary.com/dictionary/american/ruby","fileUrl":"https://audio.wordnik.com/11437225.mp3?Expires=1726241617&Key-Pair-Id=APKAIHXX6B6C37D2VKVA&Signature=OrPQFEncI5PKugbNDpG2gUEAcO3ByrPl6EPscnsKvuX89HB6LARFtBk2l7tZVn-5IfJFGl0xZ80z3OkyHPgWC5jzaVeSbNFql8FpCBSpDq7L64Lj0vPfMvi7D9doltfEekg5TzIyl8KCLI8xr56cwejBbu~Q5tzmhLSgTCU-jd9XQd2KoSnEKYea-jgPEWSNeU6TE0lN~ZNJvubeihN76qgnosabMw22G[...]
